{{#each profiel}}
<section class="match_profiel">
	<img src={{this.afbeelding}}>
	<section>
		<p>{{this.naam}}</p>
		<p>{{this.leeftijd}}</p>
	</section>
	<section>
		<a href="chat"></a>
		<button></button>
	</section>
</section>
{{/each}}