{{#each profiel}}
<section class="match_profiel">
	<img src={{this.afbeelding}}>
	<section>
		<p>{{this.naam}}</p>
		<p>{{this.leeftijd}}</p>
	</section>
	<section>
		<a href="chat"><img src="public/images/chat.svg" alt=""></a>
		<button id=""><img src="public/images/close.svg" alt=""></button>
	</section>
</section>
{{/each}}